.SidePanel-container {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0;
    flex: 0 0 18%;

    position: sticky;
    max-height: 100vh;
}

.SidePanel-logo {
    /* width: 20%; */
    margin: 0 auto;
}

.SidePanel-logo a {
    display: flex;
    align-items: baseline;
    color: #393550;
}

.SidePanel-nav {
    display: flex;
    flex-direction: column;

    margin-top: 6rem;
    font-size: 1.4rem;
    list-style: none;
}

.SidePanel-nav__icon {
    padding-right: 1.5rem;
    color: #d0d2d4;
}

.SidePanel-nav__item {
    /* padding: 2rem 4rem; */
    margin: .5rem 2rem;
    padding: 1rem;
    border-radius: .5rem;
}

.SidePanel-nav__item:hover a,
.SidePanel-nav__item:hover i {
    color: #5A6FA0;
}

.SidePanel-nav__item:hover {
    background: linear-gradient(260deg, #F1F0F5, #E1E8F3);
}

.SidePanel-nav__link {
    color: #d0d2d4;
}

.SidePanel-nav__link--active {
    margin: .5rem 2rem;
    padding: 1rem;
    border-radius: .5rem;
    background: linear-gradient(260deg, #F1F0F5, #E1E8F3);
}

.SidePanel-nav__link--active a,
.SidePanel-nav__link--active i {
    color: #5A6FA0;
}
/* 
margin: 2rem 2rem;
    padding: 1rem;
    border-radius: .5rem;
    background: linear-gradient(260deg, #F1F0F5, #E1E8F3); */

/* li:hover a,
li:hover i {
    color: #5A6FA0;
} */

.SidePanel-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 0 1rem;
}

.SidePanel-profile__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17%;
}

.SidePanel-profile__avatar-image {
    display: inline-block;
    border-radius: 500rem;
}

.SidePanel-profile__info {
    margin-left: 1.5rem;
    font-size: .9em;
    line-height: 2rem;
}

.SidePanel-profile__logout {
    color: #d0d2d4;
}

.SidePanel-profile__logout:hover {
    cursor: pointer;
    color: #5A6FA0;
}
