@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* PRIMARY COLORS

---- BACKGROUNDS ---- :
background: #fffefc
primary: #FF5757

background secondary: #FAF1E5
background secondary-light: #FEF9F3

background supporting: #C7E2FD
background supporting-light: #DAEAFB

---- FONT ---- :
black: #000000;
grey: #abaeb1
light-grey: #d0d2d4
dark-red: #f35151
white: #FFFFFF

*/

*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  /*This defines what 1rem is | 1rem = 10px (10px/16px = 62.5%) */
  font-size: 62.5%;  
}

body {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  background:#ffffff;
}

#root { 

}

input[type=text] {
  font-family: 'Mulish', sans-serif;
}

input[type = "text"],
input[type = "email"],
input[type = "password"] {
    display: block;
    margin: 10px auto;
    background: #ffffff;
    border: 1px solid #dedfe0;
    padding: 14px 10px;
    width: 100%;
    outline: none;
    color: #37352f99;
}

input[type="checkbox"] {
  background-color: initial;
  cursor: default;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

label {
    display: flex;
    align-items: center;
}

label input[type = "checkbox"] {
  display: none; /* hide the default checkbox */
}

/* style the artificial checkbox */
label span {
    height: 13px;
    width: 13px;
    border: 1px solid #abaeb1;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    float: left;
    left: 7.5%;
}

.rmb {
    position: absolute;
    margin-left: 1.5em;
    margin-top: 0px;
    color: #08203D;
    font-size: 1.3rem;
}

@media (max-width: 414px) {
  label span {
    left: 0;
  }

  .rmb {
    position: relative;
    margin-left: 0.5em;
  }
}

[type=checkbox]:checked + span:before {/* <-- style its checked state */
    content: "";
    background-color: transparent;
    position: absolute;
    right: 3px;
    top: -2px;
    width: 5px;
    border-bottom: 3px solid #FE5656;
    height: 11px;
    border-right: 3px solid #FE5656;
    
    /* rotate the mirrored L to make it a checkbox */
    transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
}  

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* BUTTONS */

.button-primary__big {
  background: #FE5656;
  color: #FFFFFF;
  padding: 1.7em 3.5em;
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  border: none;
  letter-spacing: 0.05em;
}

.button-primary {
  background: #FE5656;
  color: #FFFFFF;
  padding: 1.3em 3em;
  font-weight: 300;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  border: none;
  letter-spacing: 0.05em;
}

/* LAYOUT */
/* .container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
} */
